body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
}

.content {
    width: 80vw;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

@media only screen and (max-width: 1900px) {
    .content{
        width: 90vw;
    }
}

header {
    height: 100px;
    border: 2px solid red;
    padding: 20px;
    /* box-sizing: border-box; */
}

ul {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.logo {
    width: 200px;
    height: 70px;
    overflow: hidden;
    position: relative;;

}

.logo img {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#catalogue {
    margin-right: -80px;
    width: 10vw;
    position: relative;
    background-color: rgb(13, 71, 108);
    /* padding: 20px; */
    height: 60%;
    border-radius: 5px;
}

#catalogue h2 {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    font-size: 0.9rem;
    letter-spacing: 1.5px;
}


#search-field {
    /* margin-left: -100px; */
    width: 26vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    background-color: rgb(231, 226, 226);
}

#search-field input {
    width: 90%;
    height: 42px;
    padding: 0;
    background-color: rgb(231, 226, 226);
    border: none;
    letter-spacing: 1.5px;
    font-size: 0.9rem;
    padding-left: 5px;
    box-sizing: border-box;
    outline: none;
}

#search-button {
    width: 20px;
    height: 20px;
    opacity: 0.3;
}

#search-button:hover {
    opacity: 1;
    cursor: pointer;
}

#ph-number {
    display: flex;
    width: 12vw;
    font-weight: 700;
    letter-spacing: 1px;
    position: relative;
    font-size: 1rem;
    justify-content: space-around;
    align-items: center;
}

#ph-number img {
    width: 20px;
    height: 20px;
}

#ph-number p {
    text-align: right;
    margin: 0;
}

#ph-number:hover::after {
    content: '+998 71 000-00-00';
    position: absolute;
    top: 150%;
    left: 20px;
    width: 12vw;
    height: 60px;
    z-index: 10;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 0 5px rgb(231, 226, 226);
}

#log-in {
    width: 5vw;
    height: 40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 300;
    letter-spacing: 1px;
}

#log-in img {
    width: 20px;
    height: 20px;
}

#log-in:hover {
    background-color: rgba(13, 71, 108, 0.8);
    border-radius: 5px;
}

#log-in:hover img,  #log-in:hover div{
    filter: invert(100%);
    cursor: pointer;
    font-weight: 700;
}




nav {
    height: 100px;
    border: 2px solid violet;
}


.carousel {
    height: 700px;
    border: 2px solid blue;
}